<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EmployeeManagementSystem</display-name>
  <servlet>
      <servlet-name>employee</servlet-name>
      <servlet-class>com.ideas2it.employeemanagement.employee.controller.EmployeeController</servlet-class>
  </servlet>
  
  <servlet-mapping>
          <servlet-name>employee</servlet-name>
          <url-pattern>/employeeController</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>project</servlet-name>
      <servlet-class>com.ideas2it.employeemanagement.project.controller.ProjectController</servlet-class>
  </servlet>
  
  <servlet-mapping>
          <servlet-name>project</servlet-name>
          <url-pattern>/projectController</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ErrorHandler</servlet-name>
      <servlet-class>com.ideas2it.CustomException.ErrorHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
          <servlet-name>ErrorHandler</servlet-name>
          <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  
  <error-page>
   <exception-type>java.lang.Throwable</exception-type >
   <location>/ErrorHandler</location>
  </error-page>
  
  <error-page>
   <error-code>404</error-code>
   <location>/ErrorHandler</location>
  </error-page>
 
</web-app>