@font-face {
    font-family: candal;
    src: url(../fonts/Candal-Regular.ttf);
}
@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}
body {
    background-color: black;
}
.container {
    background: white;
    padding: 4% 6.5% 8% 2%;
}
.left-side {
    display: inline-block;
    width: 25%;
    padding: 0% 4% 0% 0%;
}
.right-side {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding: 1% 0% 0% 0%;
} 
.left-side img {
    border-radius: 50%;
    width: 190px;
    margin: 10% 0% 10% 0%;
}
.profile{
    margin: 0 auto;
     width: 72%; 
     text-align: center; 
}
ul {
     padding-inline-start: 0px;  /*for starting from left side*/
}
li {
    list-style: none;
    font-size: 12px;
    border-bottom: 1px solid #cacddb;
    font-weight: 800;
    font-size: 13px;
    color: #3e5086;;
}
li > i {
    display: inline-block;
    padding: 6%;
    width: 5%;  /*important*/
    color:#cacddb;
}
.profile-details {
    padding: 5% 0%;
}
.download-button {
    background-color: #367cff;
    border-radius: 15px;
    border: none;
    padding: 5% 11%; 
    text-align: center; 
    color: #dce8ff;
    font-weight: 600;
    margin: 20% 0% 0% 0%;
    text-decoration: none;
}
.summary {
    margin: 3% 0% 0% 0%;
}
.work {
    display: inline-block;
    width: 50%;
    text-align: left;
}
.full-time-block {
    display: inline-block;
    width: 49%;
    text-align: right;
}
.full-time {
    background-color: #d7ffe0;
    padding: 1.5% 4.5%;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 700;
}
.work-company , .work-place{
    display: inline-block;
    width: 16%;
}
.duration {
    display: inline-block;
    width: 66%;
    text-align: right;
}
.work-experience, .education {
    border-bottom: 1px solid #cacddb;
    padding: 2% 1% 4% 0%;
}
.all-work-experience {
    padding: 8% 0% 0% 0%;
}
.university {
    display: inline-block;
    width: 33%;
}
.all-education {
    margin: 8% 0% 0% 0%;  
}
h3 {
    font-weight: 200;
    font-size: 20px;
    color: #3e5086;
}
.work-experience h3, .education h3{
     margin-bottom: 6px; 
}
h1 {
    font-family: candal;
    font-size: 30px;
    font-weight: 200; 
    margin: 0%;
    color: #3e5086;
}
.right-side i {
    display: inline-block;
    padding: 0em 0.35em 0em 0em;
}
.work-details , .university-details  {
    font-size: 12px;
    color: #cacddb ;
    font-weight: 800;
}
li, .summary, .full-time, .work-details , .university-details , h3, .download-button {
    font-family: poppins;
}